/env/
/venv/
/.idea/
/__pycache__/
/module/__pycache__/
/event/__pycache__/
/util/__pycache__/
/test/__pycache__/
/config/token.py
/config/__pycache__/
/module/democraciv/__pycache__/
migrate.sql
/db/backup/*
/db/stv/*
core