discord.py[speed]
aiodns
discord-ext-menus
git+https://github.com/oliver-ni/discord-ext-menus-views
jishaku
psutil
asyncpg
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
async-lru
lru-dict
fuzzywuzzy
python-Levenshtein
pytz

