git+https://github.com/Rapptz/discord.py@master
aiodns
cchardet
git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/oliver-ni/discord-ext-menus-views
jishaku
psutil
asyncpg
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
async-lru
lru-dict
fuzzywuzzy
python-Levenshtein

