git+https://github.com/Rapptz/discord.py
aiodns
cchardet
git+https://github.com/Rapptz/discord-ext-menus
jishaku
psutil
asyncpg
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
async-lru
lru-dict
fuzzywuzzy
python-Levenshtein

